@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
body {
    font-family: 'Yusei Magic', sans-serif;
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}