{% extends 'base_generic.html' %}

{% block content %}
    <div class="col-5" style="background-color: #ffffff; padding: 0.5em; margin: 1em; border-radius: 5px;">       
        {% if level == '1' %}
            <h1>Ejercicios Nivel Básico</h1>
            {% elif level == '2' %}
                <h1>Ejercicios Nivel Intermedio</h1>
            {% else %}
                <h1>Ejercicios Nivel Avanzado</h1>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <h4 id='exe' class="col-6" style="background-color: #ffffff; padding: 1em; margin: 1em; 
        border-radius: 10px; font-style: italic; text-align: center;"></h4>
        <input type="button" value="Siguiente" onclick="show_exercise()">
    </div>
    
    <script>
        var json_exe = '{{ json_exercise }}'
        const regex = /&quot;/gi
        json_exe = json_exe.replace(regex, '"')
        json_exe = JSON.parse(json_exe)
        console.log(json_exe)

        var exe = document.getElementById('exe');
        json_exe = json_exe.sort(()=>{return Math.random()-0.5})
        show_exercise()
        function show_exercise(){
            if(json_exe.length > 0){
                exercise = json_exe.pop()
                console.log(exercise)          
                exe.innerHTML = exercise.fields.text;
            }else{
                alert('Se terminaron los ejercicios')
            }
        }
    </script>
{% endblock %}
    