{% extends 'base_generic.html' %}

{% block content %}
    <div class="col-5" style="background-color: #ffffff; padding: 0.5em; margin: 1em; border-radius: 5px;">       
        {% if level == '1' %}
            <h1>Ejercicios Nivel Básico</h1>
            {% elif level == '2' %}
                <h1>Ejercicios Nivel Intermedio</h1>
            {% else %}
                <h1>Ejercicios Nivel Avanzado</h1>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <div id='exe' class="col-6" style="background-color: #ffffff; padding: 1em; margin: 1em; border-radius: 10px;">   

        </div>
        <input type="button" value="Siguiente" onclick="show_exercice()">
    </div>
    
    <script>
        var exe = document.getElementById('exe');
        var list_excercices = '{{ exercices }}'
        list_excercices = list_excercices.split('%')
        list_excercices = list_excercices.sort(()=>{return Math.random()-0.5})
        show_exercice()
        function show_exercice(){
            if(list_excercices.length > 0){
                exercice = list_excercices.pop()          
                exe.innerHTML = exercice;
            }else{
                alert('Se terminaron los ejercicios')
            }
        }
    </script>
{% endblock %}
    