{% extends "base_generic.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
<!--  -->
{{ extended_profile_form.media }}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1 style="padding-top: 0.5em; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;">
            Editar el perfil del usuario {{ user.username }}</h1>
        <div class="container">
            <div class="row justify-content-center" style="margin-right: 0em; margin-left: 0em;">
                <div class="col col-sm-8 col-lg-6 "
                    style="background-color: #ffffff; padding: 2em; border-radius: 20px; margin-bottom: 2em;">
                    <form method="POST" enctype="multipart/form-data" action="" novalidate>
                        {% csrf_token %}
                        {{ form|crispy}}
                        {{ extended_profile_form|crispy}}
                        <img id="pre_photo" src="{{ request.user.profile.photo.url }}" alt="Tu imagen" style="width: 150px;
                        margin: 0.5em; border-radius: 1.5em;" />
                        <div class="text-center">
                            <button class="btn btn-lg btn-primary text-center" type="submit"
                                style="margin: 0.5em">Actualizar Perfil</button>
                            <a href="{% url 'perfil' %}">
                                <button class="btn btn-lg btn-primary text-center">Cancelar</button>
                            </a>
                            <p class="mt-5 mb-3 text-muted">&copy; Read Praxis Project</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function readImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#pre_photo').attr('src', e.target.result); // Renderizamos la imagen
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#id_photo").change(function () {
        // Código a ejecutar cuando se detecta un cambio de archivO
        readImage(this);
    });
</script>
{% endblock %}