
{% extends "base_generic.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}       
{% bootstrap_css %} 
<!--  -->
{{ extended_profile_form.media }}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1
            style="padding-top: 0.5em; font-size: 4em; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Editar el perfil del usuario {{ user.username }}</h1>
        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-6" style="background-color: #ffffff; padding: 2em; border-radius: 5%;">
                    <form method="POST" enctype="multipart/form-data" action="" novalidate>
                        {% csrf_token %}
                        {{ form|crispy}}
                        {{ extended_profile_form|crispy}}
                        
                        <div class="text-center">
                            <button class="btn btn-lg btn-primary text-center" type="submit">Actualizar Perfil</button>
                            <a href="{% url 'perfil' %}">
                                <button class="btn btn-lg btn-primary text-center" >Cancelar</button>
                            </a>
                            <p class="mt-5 mb-3 text-muted">&copy; Read Praxis Project</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}